# Omit installed packages
node_modules/

# Skip miscellaneous development files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
# Uncomment below when excluding build output
# build/
# dist/
